.link-button{
    text-decoration: none;
    color: black;
}

.link-button:hover {
    color: blue;
    text-decoration: none;
}

.link-button:active {
    text-decoration: none;
}

.content-topic{
    margin-bottom: 20px;
}